# Environment
.env
.env.local

# Database
*.db
*.sqlite

# Logs
*.log

# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python
build/
dist/

# Virtual environments
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
.DS_Store
